process {
    withLabel:	prokka	{ conda = "$baseDir/envs/prokka.yaml" } 
    withLabel:	blast	{ conda = "$baseDir/envs/blast.yaml" } 
    withLabel:	diamond	{ conda = "$baseDir/envs/diamond.yaml" } 
    withLabel:	pocp	{ conda = "$baseDir/envs/diamond.yaml" } 
    withLabel:	ruby	{ conda = "$baseDir/envs/ruby.yaml" } 
    withLabel:	python	{ conda = "$baseDir/envs/python.yaml" } 
}