process {
    withLabel:	prokka	{ conda = "${projectDir}/envs/prokka.yaml" } 
    withLabel:	blast	{ conda = "${projectDir}/envs/blast.yaml" } 
    withLabel:	diamond	{ conda = "${projectDir}/envs/diamond.yaml" } 
    withLabel:	pocp	{ conda = "${projectDir}/envs/diamond.yaml" } 
    withLabel:	ruby	{ conda = "${projectDir}/envs/ruby.yaml" } 
    withLabel:	python	{ conda = "${projectDir}/envs/python.yaml" } 
}