process {
    withLabel: prokka            { container = 'nanozoo/prokka:1.14.6--773a90d' }
    withLabel: diamond           { container = 'nanozoo/diamond:2.1.8--b6f1f11' }
    withLabel: pocp              { container = 'nanozoo/diamond:2.1.8--b6f1f11' } 
    withLabel: ruby              { container = 'nanozoo/ruby:3.2.2--fdadcb3' } 
}