process {
    withLabel: prokka            { container = 'nanozoo/prokka:1.14.6--773a90d' }
    withLabel: blast             { container = 'nanozoo/blast:2.9.0--ded80ad' }
    withLabel: pocp              { container = 'nanozoo/blast:2.9.0--ded80ad' } 
    withLabel: ruby              { container = 'nanozoo/ruby:3.2.2--fdadcb3' } 
}