process {
    withLabel: prokka            { container = 'nanozoo/prokka:1.14.6--773a90d' }
    withLabel: blast             { container = 'nanozoo/blast:2.15.0--139f5e2' }
    withLabel: diamond           { container = 'nanozoo/diamond:2.1.9--d692301' }
    withLabel: pocp              { container = 'nanozoo/diamond:2.1.9--d692301' } 
    withLabel: ruby              { container = 'nanozoo/ruby:3.2.2--fdadcb3' } 
}